@charset = "utf-8;
html,body {

margin:0px;
    padding:0px;
    height:100%;
    width:100%;
}
.div1{
  height:90%;
    width:50%;
    float:left;
    background-color:#FF9;
    
    

}
.div2{
    height:50%;
    width:50%;
 background-color: #CCF;
    position:fixed;
    left:25%;
    top:25%;

}

.div3{

    height:90%;
    width:50%;
    background-color: #ADF;
    float:left;
  
    
}

.div4{
height:10%;
    background-color: #FA9;
  clear:both;
    position:fixed;
   bottom:0px;
    left:0px;
    width:100%;
   
}